.films-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 660px;
}

.film {
    display: flex;
    gap: 60px;
    width: 100%;
    border-radius: 30px;
    padding: 41px 50px 26px 33px;
    transition: all 0.2s ease;
}
.film:hover {
    background: rgba(217, 217, 217, 1);
}
.film:active {
    scale: 0.95;
}

.film-poster {
    width: 100px;
    height: 148px;
}

.film-info {
    display: flex;
    flex-direction: column;
}

.film-info-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.film-info-year {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(0, 148, 255, 1);
}

.film-info-type {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}