body {
    font-family: "Inter", sans-serif;
}

.back-link {
    color: rgba(0, 0, 0, 1);
    font-family: inherit;
    font-style: Bold;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-decoration: none;
    transition: all 0.2s ease;
}
.back-link:active {
    scale: 0.95;
}

.container {
    display: flex;
    margin-left: 174px;
    margin-top: 60px;
}