.section-search {
    display: flex;
    gap: 20px;
}

.input {
    width: 400px;
    font-family: inherit;
    font-size: 28px;
}

.search-btn {
    width: 200px;
    height: 40px;
    font-family: inherit;
    background: rgba(0, 148, 255, 1);
    border: none;
    color: white;
    font-size: 28px;
    transition: all 0.2s ease;
}
.search-btn:active {
    scale: 0.95;
}

.active-btn {
    background: rgba(0, 0, 0, 1);
}

.not-found {
    font-style: Bold;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}
